name: CD

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run compile

      - name: Publish to Marketplace
        if: startsWith(github.ref, 'refs/tags/')
        run: npx vsce publish -p ${{ secrets.VSCE_TOKEN }}
